{% load static %}
<!DOCTYPE html>
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    
        <title>Subscribe</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <meta name="description" content="Get Modded Version of COD Mobile for FREE without Jailbreak or Root. Using this Modded COD Mobile++, you can access to all in-game Resources for FREE!">
        <meta name="keywords" content="Subscribe">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link rel="icon" type="image/ico" href="{% static 'favicon.ico' %}">
        <!-- Open Graph Meta Tags-->
        <meta property="og:title" content="COD Mobile++ Tweaked Version | Get Modded Version of COD Mobile for Free on Android/iOS devices - BGroundTool">
        <meta property="og:description" content="Get Modded Version of COD Mobile for FREE without Jailbreak or Root. Using this Modded COD Mobile++, you can access to all in-game Resources for FREE!">
        <meta property="og:type" content="website">
        <!-- Icons -->
        <link rel="stylesheet" href="{% static 'icon-font.min.css'%}">
        <link rel="stylesheet" href="{% static 'all.css'%}">
        <!-- Google Fonts -->
        <link href="{% static 'css.css' %}" rel="stylesheet">
        <!-- CSS -->
        <link rel="stylesheet" href="{% static 'bootstrap.min.css' %}">
        <link href="{% static 'animate.css' %}" rel="stylesheet">
        <link href="{% static 'magnific-popup.css'%}" rel="stylesheet">
        <link href="{% static 'style.css' %}" rel="stylesheet">
        
    </head>
    <body>
        <div id="particles-js"></div>
        <div id="bg" style="background-image:url({% static 'main-bg.jpg' %});"></div>
        <div id="bg-c"></div>
        <section class="app-download-section">
            <div class="container">
                <img src="{% static 'logo.png' %}" class="logo-img img-fluid" alt="COD Mobile++ Tweaked Version">
                <div class="app-download-wrapper animated bounceInUp">
                    <div class="app-download-status">
                        <div class="app-download-status-content">
                            <div class="status-row row-first animated bounceIn animation-delay-400">
                                <span class="status-label">Status:</span>
                                <span id="status" class="status-dynamic">Online</span>
                            </div>
                            <div class="status-row row-second odd animated bounceIn animation-delay-600">
                                <span class="status-label">Last Update:</span>
                                <span id="date" class="status-dynamic">10:00</span>
                            </div>
                            <div class="status-row row-last animated bounceIn animation-delay-800">
                                <span class="status-label">Online Users:</span>
                                <span id="online-count" class="status-dynamic">20</span>
                            </div>
                        </div>
                    </div>
                    <div class="app-icon-wrapper animated bounceIn animation-delay-600">
                        <div class="app-icon-inner-wrapper">
                            <img src="{% static 'app-icon.png' %}" class="app-icon-img img-fluid">
                        </div>
                    </div>
                    <div class="app-download-content animated bounceIn animation-delay-800">
                        <div class="app-download-dynamic">
                            <div class="app-download-content-header">
                                <h1>How To Verify </h1>
                                <span>To verify you are human, follow All 2 steps below!</span> When you are DONE, click the CONTINUE button. CONTINUE button will not work if you ignore 2 steps below!
                                <br>
                                <span>Step 1</span>
                                <p>
                                    Please Copy the text below and post it as a comment to the Top 5 youtube videos below <br>
								</p>
                                <textarea cols="25" rows="3">{{ Comment | safe }}</textarea>
                            </div>
                            <div class="app-download-main animated bounceIn animation-delay-1000">
                                <div class="button-wrapper">
                                    <button id="b-1" data-param1="COD Mobile++" onclick="unlockb2()" class="button animated pulse infinite"><span>Copy Comment</span></button>
                                </div>
                            </div>
                            <br>
                            <p> 
                                Click the "Visit Videos" button below and paste the comment you just copied to the first 5 videos.<br> Like the comments after you posted them.
                            </p>
                                <div class="app-download-main animated bounceIn animation-delay-1000">
                                <div class="button-wrapper">
                                    <button id="b-2" data-param1="COD Mobile++" onclick="unlockb3()" class="button2 animated pulse infinite"><span>Visit Video</span></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="app-download-content animated bounceIn animation-delay-800">
                        <div class="app-download-dynamic">
                            <div class="app-download-content-header">
                                
                                <span>Step 2</span>
                                <p>
                                    Subscribe the channel below.</p>
                            </div>
                            <div class="app-download-main animated bounceIn animation-delay-1000">
                                <div class="button-wrapper">
                                    <button id="b-3" data-param1="COD Mobile++" onclick="unlockb4()" class="button2 animated pulse infinite" onclick="enableButton2()"><span>Subscribe</span></button>
                                </div>
                            </div>
                            <p>When you are done like the comments on the videos above and subscribe the channel, you can click or tap on the continue button below.</p>
                            <button id="b-4" class="button3"><span> Continue </span></button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <footer>
            <div class="container">
                <div class="footer-content">
                    <p>© 2021 • BGroundTool.com • Install Tweaked Apps for Android/iOS • Jailbreak/Root Free</p>
                    <p>• All trademarks, service marks, trade names, trade dress, product names and logos appearing on the site are the property of their respective owners. •</p>
                </div>
            </div>
        </footer>
        <div class="X650d"></div>
    
    <!-- JS -->
    <script>
        document.getElementById("b-2").disabled= true;
        document.getElementById("b-3").disabled= true;
        document.getElementById("b-4").disabled= true;

        console.log("click");
        function unlockb2() {
            document.getElementById("b-2").disabled = false;
            console.log("disable false")
        }
        function unlockb3() {
            document.getElementById("b-3").disabled = false;
            console.log("disable false")
        }
        function unlockb4() {
            document.getElementById("b-4").disabled = false;
            console.log("disable false")
        }
    </script>
    
    
    
    
</body>
</html>